div {
    font-family: 'Lato', sans-serif;
}

ion-header {
    text-align: left;
    position: absolute;
    left: 6%;
    right: 6%;
    top: 7.5%;
}

ion-content {
    top: 15%;
}

ion-grid {
    margin-left: 3%;
}

ion-col {
    text-align: left;
}

ion-row {
    text-align: left;
    left: 6%;
    right: 6%;
}

.subtitle {
    font-size: 0.8rem;
    font-weight: 800;
    color: #1a1f2c;
    text-align: left;
}
//===============================================HEADER STYLES==================================================
.header-greeting {
    font-size: 0.61rem;
    font-weight: 800;
    color: #8a93a4;
}

.header-content {
    display: grid;
    grid-template-columns: 90% 10%;
}

.header-content div {
    font-size: 0.72rem;
    font-weight: 900;
    color: #1a1f2c;
    padding-top: 0.24rem;
}

#cart-badge {
    position: absolute;
    border-radius: 50px;
    width: 5px;
    height: 5px;
    background-color: red;
    font-size: 0.01rem;
    top: 6px;
    right: 15px;
}
//=================================================Trending Workouts=============================================
.trending-card {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
    margin-top: 0.8rem;
    margin-right: 6%;
    overflow: hidden;
}

.img-btn {
    width: 50px;
    height: 20px;
    font-size: 0.45rem;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
    background: rgba(167, 170, 174, 0.7);
    backdrop-filter: blur(2px);
    color: white;
    text-align: center;
    border-radius: 5px;
}

.chld-container {
    padding-top: 16.5px;
    padding-left: 20px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.chld-container p {
    font-weight: 800;
}

.trending-footer {
    height: 3.51rem;
    margin-top: 23%;
    background: rgba(78, 91, 104, 0.7);
    backdrop-filter: blur(4px);
    color: #d4d6d9;
}

.footer-content {
    display: grid;
    grid-template-columns: 25% 53% 30%;
    transform: translate(0%, -10%);
}

.container-rating {
    width: 45px;
    height: 25px;
    font-size: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    background: rgba(44, 54, 70, 0.7);
    backdrop-filter: blur(4px);
    color: #d4d6d9;
    border-radius: 5px;
    padding: 4px 0;
    transform: translate(0%, -30%);
}
//===================================================types workout==================================================
.type-workout-card {
    overflow: hidden;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-size: cover;
}

.type-workout-footer {
    height: 1.8rem;
    background: rgba(78, 91, 104, 0.7);
    backdrop-filter: blur(4px);
    color: #d4d6d9;
    margin-top: 46%;
    overflow: hidden;
}

.type-workout-footer .footer-content {
    display: grid;
    grid-template-columns: 50% 50%;
    transform: translate(0%, -15%);
}
//=================================================Additional Training==============================================
#additional-training-slide {
    text-align: left;
    height: 100%;
    height: 200px;
    transform: translate(0%, -13%);
    overflow: hidden;
  }
  
  #additional-training-slide ion-slide {
    height: auto;
  }
  
  .additional-training-card {
    height: 60px;
    width: 60px;
    border-radius: 5px;
    position: relative;
    background-size: cover;
    overflow: hidden;
  }

  .additional-chld-container {
    display: flex;
    justify-content: left;
    align-items: center;
    transform: translate(-100%);
}