<ion-content [fullscreen]="true">
  <div id="header">
    <div class="header-greeting">
      Hello, Maria!
    </div>
    <div class="header-content">
      <div>Stay Fit & Healthy</div>
      <ion-icon name="notifications-outline"></ion-icon>
    </div>
  </div>

  <div id="trending-workouts">
    <b>Trending Workouts <img src="../../assets/icon/fire.png" alt="" width="5%"></b>
    <ion-slides [options]="slideOpts">
      <ion-slide>
        baby khe mah?
      </ion-slide>
      <ion-slide>
        <div class="image-card"
          style="background-image: url('https://e00-expansion.uecdn.es/assets/multimedia/imagenes/2022/01/26/16432154059689.jpg')">
          <div class="chld-container">
            <div style="margin-left:2px" class="img-btn">
              <p>Beginner</p>
            </div>
            <div style="margin-left:2px" class="img-btn">
              <p>Full Body</p>
            </div>
          </div>
          <div class="img-footer">
            <div class="chld-container" style="font-size: 0.7rem;font-family: 'Roboto', sans-serif;font-weight: 600;">
              Push Your Limit
            </div>
            <div class="footer-content">
              <div class="chld-container" style="font-size:8px">
                <ion-icon style="font-size:10px; color: white; transform: translate(-30%, 0%)" name="flame"></ion-icon>
                <ion-label style="font-size:7px; color: white">360 kcal</ion-label>
              </div>
              <div class="chld-container" style="font-size:8px">
                <ion-icon style="font-size:10px; color: white; transform: translate(-30%, 0%)" name="time"></ion-icon>
                <ion-label style="font-size:7px; color: white">1h 25min</ion-label>
              </div>
              <div class="container-rating">
                <ion-icon style="font-size:9px; color: #f2c04b; transform: translate(-30%, 20%);" name="star">
                </ion-icon>
                <ion-label style="font-size:9px; color: white">4.8</ion-label>
              </div>
            </div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <h1>Slide 3</h1>
      </ion-slide>
    </ion-slides>
  </div>
</ion-content>