<ion-content [fullscreen]="true">
  <div id="header">
    <div class="header-greeting">
      Hello, Maria!
    </div>
    <div class="header-content">
      <div>Stay Fit & Healthy</div>
      <ion-icon name="notifications-outline"></ion-icon>
    </div>
  </div>

  <div id="trending-workouts">
    <b>Trending Workouts <img src="../../assets/icon/fire.png" alt="" width="5%"></b>
    <!-- <div class="container">
      <img src="https://media.istockphoto.com/photos/young-sweaty-strong-muscular-fit-man-with-big-muscles-doing-ball-on-picture-id1273688007?k=20&m=1273688007&s=612x612&w=0&h=jznU1uQEFThDvdva14UK_Mbwd4lRL7bG0hbZTdKEvzs=" alt="Trending">
    </div>     -->
    <div class="image-card"
      style="background-image: url('https://media.istockphoto.com/photos/young-sweaty-strong-muscular-fit-man-with-big-muscles-doing-ball-on-picture-id1273688007?k=20&m=1273688007&s=612x612&w=0&h=jznU1uQEFThDvdva14UK_Mbwd4lRL7bG0hbZTdKEvzs=')">
      <div class="chld-container">
        <button class="img-btn">Begginer</button>
        <button style="margin-left:2px" class="img-btn">Full Body</button>
      </div>
      <div class="img-footer">
        <div > 
          <div class="chld-container" style="font-size: 0.7rem;font-family: 'Roboto', sans-serif;font-weight: 600;">
            Push Your Limit
          </div>
          <div class="footer-content">
            <div class="chld-container" style="font-size:8px"><ion-icon name="flame-outline"></ion-icon> 360 kcal</div>
            <div class="chld-container" style="font-size:8px"><ion-icon name="flame-outline"></ion-icon> 360 kcal</div>
          </div>
        </div>        
        <ion-icon name="notifications-outline"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>